@import "../../styles/mixins";

.root {
  border: 1px solid var(--gray);
  border-radius: 4px;
  padding: 0 rem(20px);
  width: 100%;
  height: rem(50px);
  color: var(--black);

  &::placeholder {
    color: var(--gray);
  }

  &:focus {
    outline: none;
    border-color: var(--black);

    &::placeholder {
      font-size: 0;
    }
  }
}