@import "../../styles/mixins";

.root {
  border: 1px solid var(--red);
  border-radius: 4px;
  width: 100%;
  height: rem(50px);
  color: var(--white);
  background-color: var(--red);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:focus-visible {
    outline: none;
    color: var(--red);
    background-color: var(--white);
  }

  @include hover {
    color: var(--red);
    background-color: var(--white);
  }
}