:root {
  // colors

  --white: #fff;
  --black: #000;
  --gray: #ced4da;
  --dark-gray: #6c757d;
  --red: #d8315b;
  --blue: #0a2463;

  // values

  --content-width: #{em(1130px)};
  --container-offset: #{em(15px)};
  --container-offset-v: #{em(40px)};
  --section-offset: #{em(65px)};

  // fonts

  --font-family: "Roboto", sans-serif;
}
