:root {
  // colors

  --white: #fff;
  --black: #000;
  --gray: #ced4da;

  // values

  --content-width: #{em(1130px)};
  --container-offset: #{em(15px)};
  --section-offset: #{em(65px)};

  // fonts

  --font-family: "Roboto", sans-serif;
}
