@import "../styles/mixins";

.section {
  &:not(:last-child) {
    margin-bottom: rem(40px);
  }
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 0.5rem;
}

.label {
  span {
    color: var(--red);
  }
}

.input {
  border: 1px solid var(--gray);
  border-radius: 4px;
  padding: 0 rem(20px);
  width: 100%;
  height: rem(50px);
  color: var(--black);

  &::placeholder {
    color: var(--gray);
  }
}

.link {
  color: var(--red);

  &:focus-visible {
    outline: none;
    text-decoration: underline;
  }

  @include hover {
    text-decoration: underline;
  }
}

.row {
  display: flex;
  width: 100%;
  gap: rem(30px);

  &:not(:last-child) {
    margin-bottom: rem(20px);
  }
}

.table {
  width: 100%;

  thead {
    display: grid;
    margin-bottom: rem(20px);
    border-bottom: 1px solid var(--gray);
    padding: rem(20px) 0;
  }

  tbody {
    display: grid;
    gap: rem(20px);
  }

  tr {
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 1fr;
    width: 100%;
    gap: rem(30px);
  }

  th {
    text-align: left;
  }
}

.warning {
  display: block;
  margin-bottom: rem(30px);

  span {
    color: var(--red);
  }
}