@import "../../styles/mixins";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: rem(15px);
}

.date {
  color: var(--dark-gray);
}

.text {
  color: var(--dark-gray);
}